{% load static %}
{% load i18n %}
<div class="btnToTopBlock">
    <button onclick="topFunction()" id="btnToTop" title="Go to top">Top <i class="bi bi-arrow-right"></i></button>
</div>
<footer>
    <div class="footerClass">
        <div class="float1">
            <div class="box">
                <div class="img">
                    <img src="https://res.cloudinary.com/dqtawsw9t/image/upload/f_auto,q_auto/hil7riojies8ewmlbso2" id="logo">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam facere eum voluptatibus molestias veritatis error vel commodi, cum sequi recusandae sapiente repudiandae accusamus numquam est. Earum consequuntur laudantium tempore est?</p>
                <div class="socialicons">
                    <a href="https://www.linkedin.com/company/times-person" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com/timespersonmagazine?igsh=NjFpbjlhcThhYW96" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="mailto:vugarsafarvs@gmail.com"><i class="bi bi-envelope"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61562913362269" target="_blank"><i class="bi bi-facebook"></i></a>
                </div>
            </div>
            <div class="info">
                <a class="btn" href="#">About</a>
                <a class="btn" href="#">Contacts</a>
                <a class="btn" href="#">Partners</a>
            </div>
        </div>
        <hr>
        <div class="float2">
            <p>Time’s Person Magazine | {% now "Y" %} © </p>
        </div>
    </div>
</footer>