{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <main>
        <div class="mainClass">
            <div class="welcomeCarusel">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for post in articles_slide2 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <a href="{% url 'articledetail' post.slug post.id %}">
                                    <img src="{{post.img5}}" class="d-block w-100" alt="{{post.name}}" style=" height: 90vh; object-fit: cover; object-position: top;">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="welcomeCaruselmob">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for post in articles_slide2 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <a href="{% url 'articledetail' post.slug post.id %}"><img src="{{post.img4}}" class="d-block w-100" alt="{{post.name}}" style=" height: 90vh; object-fit: cover; object-position: top;"></a>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans 'LATEST' %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="coverClass">
                <div class="left">
                    {% for post in articles_1 %}
                    <a href="{% url 'articledetail' post.slug post.id %}">
                        <div class="img">
                            <img src="{{post.img}}" alt="{{post.name}}">
                        </div>
                        <div class="info">
                            <p>{{post.name}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="right">
                    <div class="box">
                        {% for post in articles_2 %}
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <div class="img">
                                    <img src="{{post.img}}" alt="{{post.name}}">
                                </div>
                                <div class="info">
                                    <p>{{post.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="box">
                        {% for post in articles_3 %}
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <div class="img">
                                    <img src="{{post.img}}" alt="{{post.name}}">
                                </div>
                                <div class="info">
                                    <p>{{post.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mobClass">
                {% for post in articles_1 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans 'Business' %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="lastedClass">
                {% for post in articles_412 %}
                    <div class="postClass">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                            <div class="info">
                                <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                                <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                                <p>{{post.date|date:"d F, Y"}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mobClass">
                {% for post in articles_412 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans "EDITOR'S PICKS" %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="editorsClass">
                {% for post in articles_slide3 %}
                    <div class="editorPosts">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="foto">
                            </a>
                            <div class="info">
                                <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                                <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                                <p>{{post.date|date:"d F, Y"}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mobClass">
                {% for post in articles_slide3 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans 'FACES' %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="faceClass">
                {% for post in articles_face_last2 %}
                    <div class="personBlock">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a class="cates" href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}" class="name">{{post.name}}</a>
                            <p class="desc">{{post.txt_desc}}</p>
                            <p class="date">{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mobClass">
                {% for post in articles_face_last2 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <hr>
            <div class="caruselClass">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for post in articles_slide %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <a href="{% url 'articledetail' post.slug post.id %}">
                                    <img src="{{post.img}}" class="d-block w-100" alt="{{post.name}}" style="filter: brightness(50%); height: 60vh; object-fit: cover; object-position: top;">
                                </a>
                                <div class="carousel-caption d-md-block">
                                    <h5><a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a></h5>
                                    <p>{{post.name}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans 'Events' %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="lastedClass">
                {% for post in articles_1318 %}
                    <div class="postClass">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                            <div class="info">
                                <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                                <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                                <p>{{post.date|date:"d F, Y"}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mobClass">
                {% for post in articles_1318 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="lahb">
                <div class="lastArticlesHeader">
                    <div class="line"></div>
                        <p>{% trans 'Life Style' %}</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="lifestyleClass">
                {% for post in articles_lifestyle_big %}
                    <div class="bigPost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="rightSide">
                    {% for post in articles_lifestyle_mob %}
                        <div class="smallPost">
                            <div class="img">
                                <a href="{% url 'articledetail' post.slug post.id %}">
                                    <img src="{{post.img}}" alt="{{post.name}}">
                                </a>
                            </div>
                            <div class="info">
                                <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                                <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                                <p>{{post.date|date:"d F, Y"}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mobClass">
                {% for post in articles_1318 %}
                    <div class="mobpost">
                        <div class="img">
                            <a href="{% url 'articledetail' post.slug post.id %}">
                                <img src="{{post.img}}" alt="{{post.name}}">
                            </a>
                        </div>
                        <div class="info">
                            <a href="{% url 'categoriesDetail' post.category.slug post.category.id %}">{{post.category}}</a>
                            <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                            <p>{{post.date|date:"d F, Y"}}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}