{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <main>
        <div class="mainClass">
            <div class="searchClass">
                <div class="serachBlock input-group">
                    <form method="GET" action="{% url 'searchpage' %}">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control"  name="q" placeholder="{% trans 'Search' %}..." aria-label="{% trans 'Search' %}..." aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="searchres">
                {% for post in articles %}
                    <a href="{% url 'articledetail' post.slug post.id %}">{{post.name}}</a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}